<div appHover class="blog_post">
  <div class="blog_head">
    <h2 class="blog_title">{{ blog.title }}</h2>

    <div class="blog_options">
      <button class="view_button" (click)="viewBlog()">View</button>
      <button
        *ngIf="homeSidebarSelectedOption === 'private'"
        class="edit_button"
        (click)="editBlog()"
      >
        Edit
      </button>
      <button
        *ngIf="homeSidebarSelectedOption === 'private'"
        class="delete_button"
        (click)="deleteBlog()"
      >
        Delete
      </button>
    </div>
  </div>
  <p class="blog_content">{{ blog.description | reduceContent }} ...</p>
  <span> ~ {{ blog.creator }}</span>
</div>
