.display_form {
    position: relative;
    width: 100%;
    height: 100%;
  
    .form_buttons {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 10px;
      margin-right: 20px;
  
      button {
        margin-left: 10px;
      }
    }
  
    .form_data {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      background-color: #e1f1fd;
      .inner_form_data_edit {
        background-color: #c1d8f0;
        border-radius: 10px;
        padding: 20px;
        .inp_box {
          margin-bottom: 15px;
  
          .form-label {
            font-weight: 500;
            font-size: 17px;
            margin: 0px;
          }
  
          input,
          select {
            border: 1px dashed #4663ac;
            border-radius: 10px;
          }
  
          .dataError {
            font-size: 15px;
            color: red;
          }
  
          .contact_info {
            display: flex;
            margin-bottom: 20px;
  
            #countryCode {
              padding: 10px;
              // margin-bottom: 10px;
              border: 1px dashed #4663ac;
              border-radius: 10px;
              margin-right: 10px;
              max-width: 150px;
              font-size: 16px;
            }
  
            .contact_input {
              display: flex;
              flex-direction: column;
              #contact {
                padding: 10px;
                // margin-bottom: 10px;
                border: 1px dashed #4663ac;
                border-radius: 10px;
                margin-right: 10px;
                max-width: 150px;
                font-size: 16px;
              }
              .dataError {
                font-size: 15px;
                color: red;
              }
            }
          }
        }
  
      }
  
      .inner_form_data_view {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        position: absolute;
        top: 0px;
        .profile_photo {
          margin-bottom: 20px;
          img {
            border-radius: 50%;
            width: 80%;
            height: 80%;
            max-width: 300px;
            max-height: 300px;
            border: 4px solid #4663ac;
          }
        }
        .general_data,.personal_data {
          display: grid;
          grid-template-rows: auto auto;
          grid-template-columns: auto auto;
          gap: 20px;
          padding: 10px;
  
          .elseBox {
            font-weight: bold;
            font-size: 17px;
            margin-right: 50px;
            margin-bottom: 20px;
            .elseDataBox {
              border: 2px solid #4663ac;
              border-radius: 20px;
              background-color: #d2deeb;
              padding: 10px;
              min-width: 200px;
              max-width: 100px;
              h1 {
                margin: 0;
                font-weight: 500;
                font-size:20px;
              }
            }
          }
        }
      }
    }
  }