<div class="display_form">
    <div class="form_buttons">
      <button
        class="btn btn-primary"
        *ngIf="!isEditMode"
        (click)="OptionClicked('Edit')"
      >
        Edit
      </button>
      <button
        class="btn btn-danger"
        *ngIf="!isEditMode && user_data.userType==='User'"
        (click)="OptionClicked('Delete')"
      >
        Delete
      </button>
      <button
        class="btn btn-success"
        *ngIf="isEditMode"
        (click)="OptionClicked('Save')"
      >
        Save
      </button>
    </div>
    <div class="form_data">
      <div class="inner_form_data_edit" *ngIf="isEditMode  else elseInnerFormBlock">
  
          <!-- Profile Photo Edit Mode ON -->
          <div class="inp_box">
            <label for="password" class="form-label">Profile Photo</label>
            <input
              type="file"
              class="form-control"
              id="profilePhoto"
              name="profilePhoto"
              accept="image/*"
              (change)="onFileChanged($event)"
              required
            />
  
            <div class="dataError" *ngIf="dataError['profilePhoto']">
              Invalid Profile Photo
            </div>
          </div>
  
          <!-- Username  Edit Mode On-->
          <div class="inp_box">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Enter username"
              required
              [(ngModel)]="user_data.username"
            />
            <div class="dataError" *ngIf="dataError['username']">
              Invalid Username
            </div>
          </div>
  
          <!-- Gender Edit Mode On-->
          <div class="inp_box">
            <label for="gender" class="form-label">Gender</label>
            <select
              class="form-select"
              id="gender"
              name="gender"
              required
              [(ngModel)]="user_data.gender"
            >
              <option value="">Select gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <div class="dataError" *ngIf="dataError['gender']">
              Invalid Gender
            </div>
          </div>
  
          <!-- password Edit Mode On -->
          <div class="inp_box">
            <label for="password" class="form-label">password</label>
            <input
              type="text"
              class="form-control"
              id="password"
              name="password"
              placeholder="Enter password"
              required
              [(ngModel)]="user_data.password"
            />
            <div class="dataError" *ngIf="dataError['password']">
              Invalid password
            </div>
          </div>
  
          <!-- User Type -->
          <div class="inp_box">
            <label for="userType" class="form-label">User Type</label>
            <select
              class="form-select"
              id="userType"
              name="userType"
              required
              [(ngModel)]="user_data.userType"
            >
              <option value="User">User</option>
              <option value="Admin">Admin</option>
            </select>
            <div class="dataError" *ngIf="dataError['userType']">
              Invalid User Type
            </div>
          </div>
  
          <!-- Height Edit Mode On -->
          <div class="inp_box">
            <label for="height" class="form-label">Height(Inches)</label>
            <input
              type="number"
              class="form-control"
              id="Height"
              name="Height"
              placeholder="Enter Height"
              required
              [(ngModel)]="user_data.height"
            />
            <div class="dataError" *ngIf="dataError['height']">
              Invalid Height
            </div>
          </div>
  
          <div class="dob_age_box">
            
            <!-- Date of Birth Edit Mode On -->
            <div class="inp_box">
              <label for="dateOfBirth" class="form-label">Date of Birth</label>
              <input
                type="date"
                class="form-control"
                id="dateOfBirth"
                name="dateOfBirth"
                required
                [ngModel]="user_data.dateOfBirth.toISOString().slice(0, 10)"
                (ngModelChange)="onDateOfBirthChange($event)"
              />
              <div class="dataError" *ngIf="dataError['dateOfBirth']">
                Invalid Date of Birth
              </div>
            </div>
            
            


            <div class="age">
              <!-- Age Edit Mode On -->
              <div class="inp_box">
                <label for="age" class="form-label">Age</label>
                <input
                  type="number"
                  class="form-control"
                  id="age"
                  name="age"
                  placeholder="Enter age"
                  disabled="true"
                  required
                  value="{{ user_data.age }}"
                />
                <div class="dataError" *ngIf="dataError['age']">Invalid Age</div>
              </div>
            </div>
  
          </div>
  
  
          <!-- User Contact Info -->
          <div class="inp_box">
            <label for="contact" class="form-label">Contact Number:</label>
  
            <div class="contact_info">
              <select
                id="countryCode"
                name="countryCode"
                [(ngModel)]="user_data.countryCode"
                required
              >
                <option value="1">+1 (USA)</option>
                <option value="91">+91 (India)</option>
                <option value="44">+44 (UK)</option>
                <option value="86">+86 (China)</option>
                <option value="61">+61 (Australia)</option>
              </select>
  
              <div class="contact_input">
                <input
                  type="tel"
                  id="contact"
                  name="contact"
                  placeholder="Enter contact number"
                  pattern="[0-9]{10}"
                  [(ngModel)]="user_data.contact"
                  required
                />
  
                <div class="dataError" *ngIf="dataError['contact']">
                  Invalid contact number
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Templates For Edit Mode Off -->
  
        <ng-template #elseInnerFormBlock>
          <div class="inner_form_data_view">
            <ng-container *ngTemplateOutlet="elseProfilePhoto"></ng-container> 
            <!-- ; context: { greeting: 'Hello', message: 'Welcome!' } -->
            <div class="general_data">
              <ng-container *ngTemplateOutlet="elseUsername"></ng-container> 
              <ng-container *ngTemplateOutlet="elseGender"></ng-container> 
              <ng-container *ngTemplateOutlet="elseAge"></ng-container> 
              <ng-container *ngTemplateOutlet="elseUserType"></ng-container> 
            </div>
            <div class="personal_data" *ngIf="user_data.userType==='Admin'">
              <ng-container *ngTemplateOutlet="elseHeight"></ng-container> 
              <ng-container *ngTemplateOutlet="elsepassword"></ng-container> 
              <ng-container *ngTemplateOutlet="elseDateOfBirth"></ng-container>
              <ng-container *ngTemplateOutlet="elseContact"></ng-container> 
  
            </div>
            
            
          </div>
        </ng-template>
  
        <!-- Profile Photo  Edit Mode  Off-->
        <ng-template #elseProfilePhoto>
          <div class="profile_photo">
            <div class="profile_image">
              <img
                [src]="
                  user_data.profilePhoto
                    ? user_data.profilePhoto
                    : 'assets/user_images/default_profile.png'
                "
                alt="Profile Photo"
              />
            </div>
          </div>
        </ng-template>
  
        <!-- Username Template Edit Mode off-->
        <ng-template #elseUsername>
          <div class="elseBox">
            Username
            <div class="elseDataBox">
              <h1>
                {{ user_data.username }}
              </h1>
            </div>
          </div>
        </ng-template>
  
        <!-- Gender Edit Mode Off -->
        <ng-template #elseGender>
          <div class="elseBox">
            Gender
            <div class="elseDataBox">
              <h1>
                {{ user_data.gender }}
              </h1>
            </div>
          </div>
        </ng-template>
  
        <!-- password Edit Mode off -->
        <ng-template #elsepassword>
          <div class="elseBox">
            password
            <div class="elseDataBox">
              <h1>
                {{ user_data.password }}
              </h1>
            </div>
          </div>
        </ng-template>
  
        <!-- User Type Edit Mode Off -->
        <ng-template #elseUserType>
          <div class="elseBox">
            User Type
            <div class="elseDataBox">
              <h1>{{ user_data.userType }}</h1>
            </div>
          </div>
        </ng-template>
  
        <!-- Height Edit Mode Off -->
        <ng-template #elseHeight>
          <div class="elseBox">
            Height
            <div class="elseDataBox">
              <h1>
                {{
                  user_data.height
                    | manageUserFormData : "inchesToMeters"
                    | number : "1.0-2"
                }}
                m
              </h1>
            </div>
          </div>
        </ng-template>
  
        <!-- Age Edit Mode Off -->
        <ng-template #elseAge>
          <div class="elseBox">
            Age
            <div class="elseDataBox">
              <h1>
                {{ user_data.age }}
              </h1>
            </div>
          </div>
        </ng-template>
  
        <!-- Date of Birth Edit Mode Off -->
        <ng-template #elseDateOfBirth>
          <div class="elseBox">
            Date of Birth
            <div class="elseDataBox">
              <h1>
                {{ user_data.dateOfBirth | date : "mediumDate" }}
              </h1>
            </div>
          </div>
        </ng-template>
  
        <!-- Contact Edit Mode Off -->
        <ng-template #elseContact>
          <div class="elseBox">
            Contact
            <div class="elseDataBox">
              <h1>
                {{
                  user_data.contact
                    | manageUserFormData : "contactToVisual" : user_data.countryCode
                }}
              </h1>
            </div>
          </div>
        </ng-template>
  
  
    </div>
  </div>
  