.sidebar {
    width: 20vw;
    height: 100%;
    border-right: 3px dashed black;
    .sidebar_heading {
      border-bottom: 3px dashed black;
      font-size: 30px;
      font-weight: bolder;
      text-align: center;
      padding: 21px;
      background-color: #accced;
      cursor: pointer;
    }
    .sidebar_heading:hover{
      color: #4663ac;
    }
    .users {
        align-items: center;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        height: calc(100vh - 18vh);
        overflow-y: auto;
        border-top: 1px solid black;
        // margin-bottom: 20px;
        .makeUserSticky{
          position: sticky;
          top: 0;
          background: #f0efef;
        }
        .userTypeAdmin{
          background-color: #c1d8f0;
        }
        .userTypeUser{
          background-color: #dce6f0;
        }
      }
  
      .users::-webkit-scrollbar {
        display: none; 
      }
      
    .search_bar {
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .search_label {
        margin-top: 10px;
    }
    #searchInput {
      border: 2px solid #ccc;
      border-radius: 5px;
      padding: 5px;
    }
    .search_bar input {
      flex: 1;
      padding: 8px;
      border: none;
      outline: none;
    }
  }
  
  