.home_container{
    display: flex;
    width: 100vw;
    height: 100vh;
    .sidebar_container{
        width: 20vw;
        height: 100vh;
    }
    .main_container{
        display: flex;
        flex-direction: column;
        width: 100%;
        .topbar_container{
            height: 10vh;
            .user_count{
                margin: 30px;
                display: flex;
                align-items: center;
                font-size: xx-large;
                font-weight:bolder;
            }
        }
        .form_container{
            height: 100%;
        }
    }
}

