<div class="home_container">
    <div class="sidebar_container">
        <app-manage-users-sidebar [selectedUsername]="selectedUsername" [users]="users"  (userSelectedClicked)="userGotSelected($event)"></app-manage-users-sidebar>
    </div>
    <div class="main_container">
      <div class="topbar_container">
        <app-manage-users-topbar (addUserClick)="handleAddUserClick()">
          <div class="user_count">
            Total: {{profile_count}}
          </div>
        </app-manage-users-topbar>
      </div>
      <div class="form_container">
        <app-manage-users-form [dataError]="dataError"  [baseProfilePath]= "baseProfilePath" [user_data]="user_data" (FormOptionClicked)="FormOptionClicked($event)" [isEditMode]="isEditMode"></app-manage-users-form>
      </div>
    </div>
  </div>
  