:root{
  width: 100%;
  height: 100%;
}
.home_container {
  width: 100%;
  height: 100%;
  display: flex;
  .home_sidebar {
    min-width: 25vw;
    max-width: 30vw;
  }
  .blogs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: calc(100vh - 0px);
    overflow-y: auto;
    // .toogle_sidebar {
    //   display: flex;
    //   align-items: center;
    //   justify-content: flex-start;
    //   font-size: 30px;
    //   font-weight: bolder;
    //   color: black;
    //   margin: 20px;
    //   width: 100%;
    //   cursor: pointer;
    //   position: fixed;
    //   top: 10px;
    //   left: 10px;
    // }
    .home_blog{
      width: 90%;
    }
    .home_blog:hover{
      width: 95%;
    }
  }
  .home_create_blog{
    width: 100%;
    height: 100%;
  }
}
