:host{
    width: 100%;
    height: 100%;
}
.create_blog_container {
    width: 100%;
    height: 100%;
    padding: 20px;

    .form_group {
        margin-bottom: 20px;

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        p {
            margin: 0;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #f9f9f9;
        }
    }
}
