<div class="create_blog_container">
    <div class="form_group">
      <label for="blogTitle">Blog Title:</label>
      <p>{{ blog.title }}</p>  
    </div>
    <div class="form_group">
      <label for="blogDescription">Blog Description:</label>
      <p>{{ blog.description }}</p>  
    </div>
    <div class="form_group">
      <label for="blogContent">Blog Content:</label>
      <p>{{ blog.content }}</p>  
    </div>
    <div class="form_group">
      <label for="blogType">Blog Type:</label>
      <p>{{ blog.isPrivate ? 'Private' : 'Public' }}</p>  
    </div>
    <div class="form_group">
        <label for="blogCreator">Blog Creator:</label>
        <p>{{ blog.creator }}</p>  
    </div>
</div>
