<div class="sidebar_container">
    <button class="create_blog_button" (click)="createBlog()">{{ homeSidebarSelectedOption==='createBlog' ? 'View Blog' : 'Create Blogs' }}</button>
    <div class="sidebar_options">
      <button [ngClass]="{'sidebar_option_selected': homeSidebarSelectedOption==='blogs'}" class="sidebar_option sidebar_option_blogs" (click)="loadCommonBlog()">Blogs</button>
      <button [ngClass]="{'sidebar_option_selected': homeSidebarSelectedOption==='myBlogs'}" class="sidebar_option" (click)="loadMyBlog()">My Blogs</button>
      <button *ngIf ='isAdmin' [ngClass]="{'sidebar_option_selected': homeSidebarSelectedOption==='manageUsers'}" class="sidebar_option" (click)="ManageUsers()">Manage User</button>
    </div> 
    <button class="sign-out-button" (click)="signOutUser()">Sign Out</button>
  </div>
  