.sidebar_container {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // .toggle_button {
    //   display: flex;
    //   align-items: center;
    //   justify-content: flex-end;
    //   font-size: 30px;
    //   font-weight: bolder;
    //   color: white;
    //   margin: 20px;
    //   width: 100%;
    //   cursor: pointer;
    // }
    .create_blog_button {
      background-color: white;
      width: 90%;
      color: black;
      border: 2px solid grey;
      box-shadow: 5px 5px 15px grey;
      border-radius: 20px;
      padding: 10px;
      margin-top: 40px;
      // font-size: 20px;
      font-weight: bold;
    }
    .sidebar_options{
      width: 100%;
      margin-top: 40px;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
      .sidebar_option{
        display: block;
        color: white;
        border: none;
        background-color: transparent;
        font-size: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        font-weight: 500;
        text-decoration: none;
      }
      .sidebar_option_selected{
          border-bottom: 2px solid white ;
      }
    }
    .sign-out-button {
      margin-left: 10px;
      position: absolute;
      bottom: 30px;
      left: 20px;
      color: white;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 20px;
    }
  }
  
  