<div class="login_root_container">
  <div class="login_container">
    <h2 class="login_heading">Sign In</h2>
    <form class="login_form" [formGroup]="loginForm" (submit)="login($event)">
      <input
        type="text"
        formControlName="username"
        placeholder="Enter your username"
      />
      <input
        type="password"
        formControlName="password"
        placeholder="Enter your password"
      />
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
