.login_root_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .login_container {
    width: 372px;
    height: 536px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 10px 10px 20px #80808094;
    justify-content: center;
    .login_heading {
      margin: 0px;
      padding: 20px;
      font-size: xxx-large;
      font-weight: 400;
    }
    .login_form {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      input,
      button {
        border: 2px solid grey;
        border-radius: 15px;
        margin: 20px;
        font-size: 20px;
        width: 100%;
        padding: 8px;
      }
      button {
        background-color: black;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
    }
  }
}
