<div class="user_data"  [ngClass]="{'selectedUser': user.username===selectedUsername}">
    <div class="profile_photo">
        <img [src]="user.profilePhoto?user.profilePhoto: 'assets/user_images/default_profile.png'" alt="Profile Photo">
    </div>
    <div class="sidebar_data">
        <span>{{user.username}}</span>
        <span>{{user.gender}}</span>
    </div>  
    <button class="edit_btn" (click)="userGotSelected(user.username )">
        <mat-icon class="edit_icon">edit</mat-icon>
    </button>
</div>
