.blog_post {
    padding: 20px;
    margin: 30px;
    border: 2px solid #8080808c;
    box-shadow: 5px 5px 20px grey;
    border-radius: 20px;
    .blog_head{
        display: flex;
        justify-content: space-between;
        .blog_title {
          font-size: 1.1em;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .blog_options{
            display: flex;
            flex-direction: row;
            .edit_button,.delete_button,.view_button{
                display: block;
                padding-bottom: 10px;
                border: none;
                background-color: transparent;
                font-weight: 500;
                text-decoration: none;
                font-size: 1.1em;
            }
            .view_button{
                color: green;
            }
            .edit_button{
                color: black ;
            }
            .delete_button{
                color: red;
            }
            .blog_option_selected{
                border-bottom: 2px solid white ;
            }
        }
    }
  
    .blog_content {
      font-size: 16px;
      line-height: 1.5;
    }
    span{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
  }
  