<div class="create_blog_container">
    <div class="form_group">
      <label for="blogTitle">Blog Title</label>
      <input
        type="text"
        id="blogTitle"
        name="blogTitle"
        class="form-control"
        placeholder="Enter blog title..."
        [(ngModel)]="this.blog.title"
      />
    </div>
    <div class="form_group">
      <label for="blogDescription">Blog Description</label>
      <input
        type="text"
        id="blogDescription"
        name="blogDescription"
        class="form-control"
        placeholder="Enter blog description..."
        [(ngModel)]="this.blog.description"
      />
    </div>
    <div class="form_group">
      <label for="blogContent">Blog Content</label>
      <textarea
        id="blogContent"
        name="blogContent"
        class="form-control"
        rows="6"
        placeholder="Enter blog content..."
        [(ngModel)]="this.blog.content"
      ></textarea>
    </div>
    <div class="blog_type">
      <button (click)="toggleBlogType()">Make {{this.blog.isPrivate  ? 'Public':'Private'}}</button>
    </div>
    <div class="submit_button">
        <button class="create_blog_submit" (click)="submitBlog()">Submit</button>
    </div>
  </div>