:host{
  width: 100%;
  height: 100%;
}
.create_blog_container {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
  
    .form_group {
      margin-bottom: 30px;
      margin-left: 20px;
      margin-right: 20px;
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }
  
      input[type="text"],
      textarea {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid grey;
        box-shadow: 5px 5px 20px grey;
        border-radius: 5px;
      }
  
      textarea {
        resize: vertical;
      }
    }
    .submit_button {
      display: block;
      // text-align: center;
      margin-bottom: 20px;
      button {
        margin-left: 20px;
        padding: 20px;
        font-size: 20px;
        background-color: black;
        color: #fff;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        // width: 15%;
        &:hover {
          background-color: blue;
        }
      }
    }
    .blog_type{
      display: block;
      margin-bottom: 20px;
      button{
        margin-left: 20px;
        padding: 20px;
        font-size: 20px;
        background-color: black;
        color: #fff;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        // width: 30%;
        &:hover {
          background-color: blue;
        }
      }
    }
  }
  