<div class="blogs" *ngIf="!isEmpty;else emptyBlogs">
    <div class="home_blog" *ngFor="let blog of storedBlogPosts">
        <app-blog-template homeSidebarSelectedOption="public" [blog]="blog"></app-blog-template>
    </div>
</div>
<ng-template #emptyBlogs>
    <div class="empty">
        No Blogs Present
    </div>
</ng-template>
